# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Streamlit
.streamlit/secrets.toml

# Data
*.csv
*.xlsx
*.db
*.sqlite3

# Logs
*.log
logs/

# Cache
.cache/
.pytest_cache/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Docs (generated PDFs, TeX sources)
docs/ 